@model BirthdayDiaryApp.Models.Birthdays

@{
    ViewBag.Title = "Delete";
}

<div class="inner">

<h3 style="color:red; font-family:'Monotype Corsiva'; text-align:center; font-size:45px">
    Are you sure you want to delete this?</h3>
<div>
    <h2>Delete Birthday</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-family: 'Monotype Corsiva'; font-size:25px">
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthName)
        </dd>

        <dt style="font-family: 'Monotype Corsiva'; font-size:25px">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:right">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <div style="font-family:'Monotype Corsiva'; margin-top:10px">
            @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
</div>