@model BirthdayDiaryApp.Models.Birthdays

@{
    ViewBag.Title = "Details";
}


<div class="inner">
    <h2>Birthday Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-family: 'Monotype Corsiva'; font-size:25px">
            @Html.DisplayNameFor(model => model.BirthName)
        </dt>

        <dd style="color:green; font-weight:bold">
            @Html.DisplayFor(model => model.BirthName)
        </dd>

        <dt style="font-family: 'Monotype Corsiva'; font-size:25px">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd style="color:deeppink">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
    <p style="font-family:'Monotype Corsiva'">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


